.container {
    color: white;

    margin-left: 10vw;
    padding: 40px;

    .title {
        display: flex;

        #navigation-container {
            margin-bottom: 20px;
        }
        
        #number-container {
            #moneyspent {
                color: #a1a1a1;
                font-size: 21px;
    
                #price {
                    color: #fff;
                    font-size: 25px;
                }
            }
        }
    }

    #subtitle {
        color: #cdcdcd;
    }

    #warning {
        color: #868686;
        font-style: italic;
        font-size: 17px;
        width: 100%;
        margin-top: 25px;
    }

    .expenses {
        margin-right: 20px;
        margin-top: 20px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        

        .expense {
            border: 2px solid #4F1787;
            padding: 15px;
            margin: 0 15px 0 15px;
            border-radius: 15px;
            cursor: pointer;
            transition: .3s;
            width: 250px;
            margin-top: 25px;

            h2 {
                font-size: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            #subtitle {
                font-size: 15px;
            }
            #amount {
                font-size: 20px;
                font-weight: bold;
                margin-top: 15px;
            }
        }

        .expense:hover {
            background-color: #4F1787;
            padding: 17px;
        }
    }
}

dialog {
    background-color: rgba(0,0,0,.5);
    color: white;
    display: flex;
    border: none;
    visibility: hidden;

    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

    .panel {
        background-color: #180161;
        padding: 30px;
        border-radius: 15px;
        width: 350px;

        display: flex;
        flex-direction: column;

        input, label {
            display: block;
        }

        
        #title-container {
            margin-bottom: 20px;
            h2 {
                font-size: 18px;
                text-align: center;
            }
            p {
                text-align: center;
                font-size: 15px;
                color: #c9c9c9;
            }
        }

        select {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            background-color: #180161;
            border: 1px solid #4F1787;
            outline: none;
            color: white;
        }
    }
}