<dialog id="addExpenseDialog">
  <div class="panel">
    <div id="title-container">
      <h2>Új adat rögzítése</h2>
      <p>{{ formatMonth(this.month) }}</p>
    </div>
    <div id="formContainer">
      <form [formGroup]="addExpenseForm" (ngSubmit)="onAddExpense()">
        <label for="category">Kategória <span class="required">*</span></label>
        <select name="category" id="category" formControlName="category">
          @for (category of categories; track $index) {
            <option [value]="category.category_name">{{ category.category_name }}</option>
          }
        </select>
        <label for="amount">Összeg <span class="required">*</span></label>
        <input type="number" id="amount" name="amount" formControlName="amount" min="0" [class.invalid]="this.addExpenseForm.controls.amount.invalid && this.addExpenseForm.controls.amount.touched">
        <label for="description">Mire? <span class="required">*</span></label>
        <input type="text" id="description" name="description" formControlName="description" [class.invalid]="this.addExpenseForm.controls.description.invalid && this.addExpenseForm.controls.description.touched">
      </form>
      @if(this.submitErr == true) {
        <p class="error">Hiba a hozzáadás közben!<br>Töltsd ki helyesen!</p>
      }
    </div>
    <div>
      <button (click)="hideAddDialog()" id="nvmBtn">Mégse</button>
      <button (click)="onAddExpense()" id="addBtn">Rögzítés</button>
    </div>
  </div>
</dialog>

<dialog id="editExpenseDialog">
  <div class="panel">
    <div id="title-container">
      <h2>Adat szerkesztése</h2>
      <p>{{ formatMonth(this.month) }}</p>
    </div>
    <div id="formContainer">
      <form [formGroup]="editExpenseForm" (ngSubmit)="onEditExpense()" >
        <label for="category">Kategória <span class="required">*</span></label>
        <select name="category" id="category" formControlName="category">
          @for (category of categories; track $index) {
            <option [value]="category.category_name">{{ category.category_name }}</option>
          }
        </select>
        <label for="amount">Összeg <span class="required">*</span></label>
        <input type="number" id="amount" name="amount" formControlName="amount" min="0" [class.invalid]="this.editExpenseForm.controls.amount.invalid && this.editExpenseForm.controls.amount.touched">
        <label for="description">Mire? <span class="required">*</span></label>
        <input type="text" id="description" name="description" formControlName="description" [class.invalid]="this.editExpenseForm.controls.description.invalid && this.editExpenseForm.controls.description.touched">
      </form>
      @if(this.submitErr == true) {
        <p class="error">Hiba a szerkesztés közben!</p>
      }
    </div>
    <div>
      <button (click)="deleteExpense()" id="deleteBtn">Törlés</button>
      <button (click)="onEditExpense()" id="editBtn">Szerkesztés</button>
    </div>
    <div>
      <button (click)="hideEditDialog()" id="nvmBtn">Mégse</button>
    </div>
  </div>
</dialog>

<dialog id="editSalaryDialog">
  <div class="panel">
    <div id="title-container">
      <h2>{{ formatMonth(this.month) }}i fizetés: <span class="required">*</span></h2>
    </div>
    <div id="formContainer">
      <form [formGroup]="editSalaryForm" (ngSubmit)="onEditSalary()" >
        <input type="number" id="amount" name="amount" formControlName="amount" min="0" [class.invalid]="this.editSalaryForm.controls.amount.invalid && this.editSalaryForm.controls.amount.touched">
      </form>
      @if(this.submitErr == true) {
        <p class="error">Hiba a szerkesztés közben!</p>
      }
    </div>
    <div>
      <button (click)="hideSalaryDialog()" id="nvmBtn">Mégse</button>
      
      @if(this.salary === null) {
        <button (click)="onAddSalary()" id="addBtn" style="margin-left:10px;">Rögzítés</button>
      } @else {
        <button (click)="onEditSalary()" id="editBtn" style="margin-left:10px;">Szerkesztés</button>
      }
    </div>
  </div>
</dialog>

<div class="container">
  <div class="title">
    <div>
      @if(formatMonth(this.month) !== "undefined") {
        <div id="navigation-container">
          <h1>{{ formatMonth(this.month) }}</h1>
          <button (click)="openAddDialog()">Új hozzáadása</button>
          @if(this.salary === null) {
            <button (click)="openSalaryAddDialog()" id="editBtn" style="margin-left:10px;">Fizetés rögzítése</button>
          } @else {
            <button (click)="openSalaryEditDialog()" id="editBtn" style="margin-left:10px;">Fizetés szerkesztése</button>
          }
        </div>
        <div id="number-container">
          @if(this.salary !== null) {
            @if(this.salary.amount !== null) {
              <h2 id="moneyspent">- Fizetésed: <span id="price">{{ this.salary.amount | number}} Ft</span></h2>
            }
          }
          @if(this.expenseSum !== null) {
            @if(this.expenseSum.sum !== null) {
              <h2 id="moneyspent">- Költéseid: <span id="price">{{ expenseSum.sum | number}} Ft</span></h2>
            }
          }

          @if(this.expenseSum !== null && this.salary !== null) {
            @if(this.expenseSum.sum !== null) {
              <h2 id="moneyspent">- Megtakarítások: <span id="price">{{ this.savings | number}} Ft</span></h2>
            }
          }
        </div>
      }
    </div>
  </div>
      @if(this.expenses !== null) {
        @if(this.expenses.length > 0) {
          <div class="expenses">
          @for (expense of expenses; track expense.id) {
            <div class="expense" (click)="openEditDialog(expense.id)" >
              <h2>{{ expense.description }}</h2>
              <p id="subtitle">{{ expense.category }} - {{ formatMonth(expense.month) }}</p>
              <p id="amount">{{ expense.amount | number }} Ft</p>
            </div>
          }
          </div>
        }
        @else {
          @if (formatMonth(this.month) !== "undefined") {
            <p id="warning">Még nem adtál hozzá költéseket {{ formatMonth(this.month) }} hónaphoz!</p>
          }
        } 
      }
</div>