nav {
    background-color: #180161;
    position: fixed;
    width: 10vw;
    height: 100vh;
    border-right: 2px solid #4F1787;
    margin-right: 150px;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        width: 100%;
        text-align: center;
        
        li {
            display: block;
            background-color: #180161;
            padding: 15px;
            transition: .3s;
            a {
                text-decoration: none;
                color: #fff;
                font-size: 18px;
            }
        }

        li:hover {
            background-color: #4F1787;
            cursor: pointer;
        }
    }
}