/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Poppins;
}

body {
    background-color: #180161;
}

#deleteBtn {
    border: 2px solid #EB3678;
    color: #EB3678;
    margin-left: 10px;
}

#deleteBtn:hover {
    background-color: #EB3678;
    color: white;
    padding: 8px;
}

#nvmBtn {
    border: 2px solid #8a8a8a;
    color: #8a8a8a;
}

#nvmBtn:hover {
    background-color: #8a8a8a;
    color: white;
    padding: 8px;
}

#addBtn {
    border: 2px solid #3feb36;
    color: #3feb36;
    margin-left: 10px;
}

#addBtn:hover {
    background-color: #3feb36;
    color: white;
    padding: 8px;
}


#editBtn {
    border: 2px solid #FB773C;
    color: #FB773C;
    margin-left: 10px;
}

#editBtn:hover {
    background-color: #FB773C;
    color: white;
    padding: 8px;
    margin-left: 10px;
}