
.category-container {
    margin-top: 50px;
    border: 2px solid #4F1787;
    padding: 20px;
    border-radius: 15px;
    transition: .3s;
    width: 300px;
    margin-top: 25px;

    button {
        padding: 6px;
        outline: none;
        border: 2px solid #EB3678;
        background-color: rgba(0,0,0,0);
        color: #EB3678;
        border-radius: 30px;
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;

        transition: .3s
    }

    button:hover {
        background-color: #EB3678;
        color: white;
        padding: 8px;
    }

    ul {
        margin-left: 50px;
    }
}


dialog {
    background-color: rgba(0,0,0,.5);
    color: white;
    display: flex;
    border: none;
    visibility: hidden;
    top: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    .panel {
        background-color: #180161;
        padding: 30px;
        border-radius: 15px;
        width: 350px;

        display: flex;
        flex-direction: column;

        input, label {
            display: block;
        }

        
        #title-container {
            margin-bottom: 20px;
            h2 {
                font-size: 18px;
                text-align: center;
            }
            p {
                text-align: center;
                font-size: 15px;
                color: #c9c9c9;
            }
        }

        select {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            background-color: #180161;
            border: 1px solid #4F1787;
            outline: none;
            color: white;
        }
        
        #nvmBtn {
            border: 2px solid #8a8a8a;
            color: #8a8a8a;
        }
        
        #nvmBtn:hover {
            background-color: #8a8a8a;
            color: white;
            padding: 8px;
        }
    }

}