<dialog id="addCategoryDialog">
    <div class="panel">
      <div id="title-container">
        <h2>Új kategória rögzítése</h2>
      </div>
      <div id="formContainer">
        <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmitAdd()">
          <label for="category">Kategória neve</label>
          <input type="text" id="category" name="category" formControlName="category">
        </form>
      </div>
      <div>
        <button (click)="hideAddCategoryDialog()" id="nvmBtn">Mégse</button>
        <button (click)="onSubmitAdd()" id="addBtn">Rögzítés</button>
      </div>
    </div>
</dialog>

<dialog id="removeCategoryDialog">
    <div class="panel">
      <div id="title-container">
        <h2>Új kategória rögzítése</h2>
      </div>
      <div id="formContainer">
        <form [formGroup]="deleteCategoryForm" (ngSubmit)="onSubmitDelete()">
            <label for="category">Kategória</label>
            <select name="category" id="category" formControlName="category">
                @for (category of categories; track category.id) {
                    <option [value]="category.category_name">{{ category.category_name }}</option>
                }
            </select>
        </form>
      </div>
      <div>
        <button (click)="hideDeleteCategoryDialog()" id="nvmBtn">Mégse</button>
        <button (click)="onSubmitDelete()" id="deleteBtn">Törlés</button>
      </div>
    </div>
</dialog>

<div class="container">
    <h1>Landing page</h1>
    <div class="category-container">
        <div>
            <h2>Kategóriák</h2>
            <ul>
                @for (category of categories; track $index) {
                    <li>{{ category.category_name }}</li>
                }
            </ul>
        </div>
        <div>
            <button id="addBtn" (click)="openAddCategoryDialog()">Új kategória</button>
            <button id="deleteBtn" (click)="openDeleteCategoryDialog()">Kategória törlés</button>
        </div>
    </div>
</div>